<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <title>Device Lab Proxy Service</title>
  <style>
    body { color: #FFF; background-color: #4A90E2; font-family: Helvetica Neue, Helvetica, sans-serif; font-size: 20pt; line-height: 1.3; padding: 100px; }
    h1 { font-size: 72pt; font-weight: 200; line-height: 1; margin-top:20pt; margin-bottom:60pt; }
    h2 { font-size: 36pt; font-weight: 400; margin-top: 60pt; }
    button { background-color: #F29797; color:#FFF; border-radius: 8px; font-family: inherit; font-size: 36pt; letter-spacing: 2px; padding: 20px 50px; border:0; box-shadow: 0 7px 0 0 #523B3B; text-shadow: 0 -1px 0 rgba(0,0,0,.5);}
    button:active { transform: translateY(5px); outline:none; box-shadow: 0 2px 0 0 #523B3B;}
    button:focus { outline:none; }
  </style>
</head>
<body>
  <div class="wrapper">
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg width="205px" height="134px" viewBox="0 0 205 134" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <defs></defs>
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g transform="translate(-111.000000, -106.000000)">
            <g transform="translate(111.000000, 106.000000)">
                <g id="Group" transform="translate(0.098366, 46.574979)">
                    <path d="M0.5078189,15.6441625 L0.5078189,17.5581406 L0.109143883,17.5581406 L0.109143883,21.4220319 L0.5078189,21.4220319 L0.5078189,23.320149 L0.109143883,23.320149 L0.109143883,27.1840403 L0.5078189,27.1840403 L0.5078189,80.2549874 C0.5078189,84.0876524 3.51491277,87.1944281 7.22436552,87.1944281 L33.6371851,87.1944281 C37.3466378,87.1944281 40.3537317,84.0876524 40.3537317,80.2549874 L40.3537317,7.16372534 C40.3537317,3.33081258 37.3466378,0.224532455 33.6371851,0.224532455 L7.22436552,0.224532455 C3.51491277,0.224532455 0.5078189,3.33081258 0.5078189,7.16372534 L0.5078189,11.7802712 L0.109143883,11.7802712 L0.109143883,15.6441625 L0.5078189,15.6441625" id="Fill-788" fill="#ECEAEA"></path>
                    <path d="M3.09344947,11.7802712 L37.7681012,11.7802712 C37.9005131,11.7802712 38.0079778,11.8912983 38.0079778,12.0280995 L38.0079778,75.0320056 C38.0079778,75.1690547 37.9005131,75.279834 37.7681012,75.279834 L3.09344947,75.279834 C2.96103755,75.279834 2.85357281,75.1690547 2.85357281,75.0320056 L2.85357281,12.0280995 C2.85357281,11.8912983 2.96103755,11.7802712 3.09344947,11.7802712" id="Fill-789" fill="#4990E2"></path>
                    <path d="M20.4307753,77.7581171 C18.5196779,77.7581171 16.9647974,79.3645403 16.9647974,81.3389885 C16.9647974,83.3134367 18.5196779,84.9198598 20.4307753,84.9198598 C22.3421126,84.9198598 23.8967532,83.3134367 23.8967532,81.3389885 C23.8967532,79.3645403 22.3421126,77.7581171 20.4307753,77.7581171 L20.4307753,77.7581171 Z M20.4307753,85.4155165 C18.255094,85.4155165 16.485044,83.5867913 16.485044,81.3389885 C16.485044,79.0911857 18.255094,77.2624605 20.4307753,77.2624605 C22.6064567,77.2624605 24.3765066,79.0911857 24.3765066,81.3389885 C24.3765066,83.5867913 22.6064567,85.4155165 20.4307753,85.4155165 L20.4307753,85.4155165 Z" id="Fill-790" fill="#CFCCCB"></path>
                    <path d="M16.9573612,7.37487506 L23.0770947,7.37487506 C23.4150809,7.37487506 23.6890201,7.65814283 23.6890201,8.00733293 C23.6890201,8.3562752 23.4150809,8.63954296 23.0770947,8.63954296 L16.9573612,8.63954296 C16.619375,8.63954296 16.3454358,8.3562752 16.3454358,8.00733293 C16.3454358,7.65814283 16.619375,7.37487506 16.9573612,7.37487506" id="Fill-791" fill="#BEBDBC"></path>
                    <path d="M19.9056853,3.18558519 C20.5065763,3.18558519 20.9937658,3.6889245 20.9937658,4.30973444 C20.9937658,4.93054437 20.5065763,5.43388368 19.9056853,5.43388368 C19.3047942,5.43388368 18.8178446,4.93054437 18.8178446,4.30973444 C18.8178446,3.6889245 19.3047942,3.18558519 19.9056853,3.18558519" id="Fill-792" fill="#BEBDBC"></path>
                    <path d="M14.8054276,7.37487506 C15.1434139,7.37487506 15.417353,7.65814283 15.417353,8.00733293 C15.417353,8.3562752 15.1434139,8.63954296 14.8054276,8.63954296 C14.4674414,8.63954296 14.1935023,8.3562752 14.1935023,8.00733293 C14.1935023,7.65814283 14.4674414,7.37487506 14.8054276,7.37487506" id="Fill-793" fill="#C3C2C0"></path>
                </g>
                <g id="Group" transform="translate(159.434876, 42.940164)">
                    <path d="M6.28562996,0 L38.8310505,0 C42.3025141,0 45.1166804,2.89952825 45.1166804,6.47422576 L45.1166804,84.3036683 C45.1166804,87.8783658 42.3025141,90.777894 38.8310505,90.777894 L6.28562996,90.777894 C2.81416633,90.777894 0,87.8783658 0,84.3036683 L0,6.47422576 C0,2.89952825 2.81416633,0 6.28562996,0" id="Fill-27" fill="#ECEAEA"></path>
                    <path d="M1.79589427,6.01178106 L43.4240501,6.01178106 C43.5479668,6.01178106 43.6485369,6.11583112 43.6485369,6.24300341 L43.6485369,82.1116804 C43.6485369,82.2411649 43.5479668,82.3429027 43.4240501,82.3429027 L1.79589427,82.3429027 C1.67197757,82.3429027 1.57140749,82.2411649 1.57140749,82.1116804 L1.57140749,6.24300341 C1.57140749,6.11583112 1.67197757,6.01178106 1.79589427,6.01178106" id="Fill-28" fill="#4990E2"></path>
                    <path d="M18.370876,2.08100114 L26.8340278,2.08100114 C27.1855741,2.08100114 27.4704478,2.37465352 27.4704478,2.73536038 C27.4704478,3.09837947 27.1855741,3.39203185 26.8340278,3.39203185 L18.370876,3.39203185 C18.0193297,3.39203185 17.734456,3.09837947 17.734456,2.73536038 C17.734456,2.37465352 18.0193297,2.08100114 18.370876,2.08100114" id="Fill-29" fill="#BEBDBC"></path>
                    <path d="M8.68404676,2.31222348 C9.14087737,2.31222348 9.51150505,2.69350914 9.51150505,3.16543395 C9.51150505,3.63481532 9.14087737,4.01633219 8.68404676,4.01633219 C8.22721615,4.01633219 7.85703745,3.63481532 7.85703745,3.16543395 C7.85703745,2.69350914 8.22721615,2.31222348 8.68404676,2.31222348" id="Fill-30" fill="#BEBDBC"></path>
                </g>
                <g id="Group" transform="translate(50.155411, 0.049343)">
                    <path d="M5.29829894,0 L94.360446,0 C97.2867217,0 99.658745,2.44931626 99.658745,5.47331029 L99.658745,128.216554 C99.658745,131.238566 97.2867217,133.687883 94.360446,133.687883 L5.29829894,133.687883 C2.37221517,133.687883 0,131.238566 0,128.216554 L0,5.47331029 C0,2.44931626 2.37221517,0 5.29829894,0" id="Fill-12" fill="#ECEAEA"></path>
                    <path d="M9.97366358,11.8898848 L89.5152949,11.8898848 C89.6196608,11.8898848 89.7044582,11.9770773 89.7044582,12.0860679 L89.7044582,121.449228 C89.7044582,121.556237 89.6196608,121.643429 89.5152949,121.643429 L9.97366358,121.643429 C9.86910577,121.643429 9.78430843,121.556237 9.78430843,121.449228 L9.78430843,12.0860679 C9.78430843,11.9770773 9.86910577,11.8898848 9.97366358,11.8898848" id="Fill-13" fill="#4990E2"></path>
                    <path d="M49.8418427,124.447461 C51.515535,124.447461 52.8724843,125.848485 52.8724843,127.578464 C52.8724843,129.30646 51.515535,130.707485 49.8418427,130.707485 C48.1681504,130.707485 46.8112011,129.30646 46.8112011,127.578464 C46.8112011,125.848485 48.1681504,124.447461 49.8418427,124.447461" id="Fill-14" fill="#CFCDCB"></path>
                    <path d="M49.7570453,5.35044815 C50.1125419,5.35044815 50.4006994,5.64769527 50.4006994,6.01430005 C50.4006994,6.38288648 50.1125419,6.6801336 49.7570453,6.6801336 C49.4015488,6.6801336 49.1133913,6.38288648 49.1133913,6.01430005 C49.1133913,5.64769527 49.4015488,5.35044815 49.7570453,5.35044815" id="Fill-15" fill="#BEBDBC"></path>
                </g>
            </g>
        </g>
    </g>
    </svg>

  <h1>Device Lab<br> Proxy Service</h1>

  <%=yield%>

<h2>What does this do?</h2>
<p>All devices in this lab point to a proxy server. Clicking on <i>Proxify</i> will point 
that server to your machine, thereby routing all traffic from the devices in this lab to 
your computer. Use Charles to proxy that traffic to your Vagrant for local testing.</p>

<p>It&rsquo;ll be magic!</p>
</div><!-- #wrapper -->
</body>
</html>
